PORT=5000
MONGO_URI=mongodb+srv://vamsi:vamsi@cluster0.2cndoqn.mongodb.net/sbstocks
JWT_SECRET=supersecretjwtkey
ALPHA_VANTAGE_API_KEY=your_api_key_here
mongodb+srv://vamsi:vamsi@cluster0.2cndoqn.mongodb.net/vamsi?